@media screen (max-width: 1000px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .one {
        display: flex;
        flex-wrap: row;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 15px;
        max-width: inherit;
    }
    .two {
        display: flex;
        max-width: inherit;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFE8DE;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
    background-color: #78B3AB;
    color: #ffffff;
    margin-bottom: 15px;
    max-width: 100%;
}

.myname {
    font-family: "ZCOOL QingKe HuangYou", serif;
    font-style: bold;
    font-size: 1.25rem;
    text-shadow: 0 2px 0 black;
    margin: 15px;
}

.testudo {
    max-width: 174px;
    max-height: 100px;
    margin: 15px;
}

.testudo img {
    max-width: 174px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

/* Container section based on notes/tips given in class */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    max-width: 960px;
}

.one {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 174px;
    padding-right: 15px;
}

.snoopy {
    max-width: inherit;
    margin-bottom: 5px;
}

.snoopy img{
    border: 1px solid black;
    border-radius: 4px;
    max-width: inherit;
}

.intro { 
    padding: 10px;
    background-color: #FFFAF7;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    margin-bottom: 15px;
}

.two {
    display: flex;
    flex: none;
    flex-direction: column;
    background-color: #FFFAF7;
    max-width: 700px;
    border: 1px dashed black;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 25px;
}

.role {
    font-family: 'ZCOOL QingKe HuangYou', serif;
    font-size: 1.2rem;
}

.job {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
}

.desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.responsibilities {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    padding-bottom: 5px;
}