html, body {
    margin: 0;
    padding: 0;
    background-color: #FFE8DE;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 0;
    background-color: #78B3AB;
    color: #ffffff;
    margin-bottom: 15px;
    max-width: 100%;
}

.myname {
    display: flex;
    justify-content: flex-start;
    font-family: "ZCOOL QingKe HuangYou", serif;
    font-style: bold;
    font-size: 1.5rem;
    margin: 10px;
}

.testudo {
    display: flex;
    justify-content: center;
    flex-basis: 0.5rem;
    margin: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
}

.one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

.snoopy img {
    border: #FFFAF7;
    border-radius: 4px;
}

.intro { 
    padding: 10px;
    background-color: #FFFAF7;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.two {
    display: flex;
    background-color: #FFFAF7;
    margin: 20px;
}

.role {
    font-family: 'ZCOOL QingKe HuangYou', serif;
    font-size: 1.2rem;
}

.job {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
}

.desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.responsibilities {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
}