html, body {
    margin: 0;
    padding: 0;
    background-color: #FFDCCB;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4BB3AB;
    color: #ffffff;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 960px;
}

.one {
    max-width: 1/3;
}

.two {
    min-width: 2/3;
}

.job {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
}

.desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}