body {
    font-family: Arial, Helvetica, sans-serif;
}
  
label {
    display: block;
    margin: 8px 0;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}
  
.button {
    padding: 10px;
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}